@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {box-sizing: border-box}

h1, label{
  color: black;
}
/* Full-width input fields */
  input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
  background:#BBBBBB;
  
}

input[type=text]:focus {
  outline: none;
  
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #7b7c7b;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */


/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: right;
  width: 50%;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
  margin-right: 11px;
}

/* Add padding to container elements */


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #fefefe;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .input1{
    float: left;
    width: 90%;
    
  }
  .label1{
    float: left;
    width: 10%;
    margin-top: 15px;
  }
